
<div class="container-fluid">
  <h1>
    White Board
  </h1>

  <ul class="list-group">
    <h3>Sections for the current logged in student {{user.firstName}}</h3>
    <li *ngFor="let enrollment of sections" class="list-group-item">
      <a routerLink="/course/{{enrollment.section.courseId}}/section">
        {{enrollment.section.name}}
        ({{enrollment.section.seats}} seats)
      </a>
    </li>
  </ul>
  <h1></h1>
<div>
  <a routerLink="/login">Login</a>
</div>
  <div>
  <a routerLink="/register">Register</a>
  </div>

  <app-course-grid></app-course-grid>


</div>
