<div class="container-fluid">
  <h1>Profile</h1>

  <input [(ngModel)]="user.username"
         placeholder="username"
         class="form-control"/>
  <input [(ngModel)]="user.firstName"
         placeholder="first name"
         class="form-control"/>
  <input [(ngModel)]="user.lastName"
         placeholder="lastName"
         class="form-control"/>
  <input [(ngModel)]="user.email"
         placeholder="email"
         class="form-control"/>
  <button (click)="update(user)"
          class="btn btn-primary btn-block">
    Update
  </button>
<div>
  <a *ngIf="user.username === 'admin'"
     routerLink="/admin">Admin</a>
</div>

  <div *ngIf="user.username !== 'admin'">
  <h2>Sections ({{sections.length}})</h2>

  <ul class="list-group">
    <li *ngFor="let enrollment of sections" class="list-group-item">
      <a routerLink="/course/{{enrollment.section.courseId}}/section">
        {{enrollment.section.name}}
        ({{enrollment.section.seats}} seats)
      </a>
      <button (click)="unEnroll(enrollment.section._id)"
              class="float-right btn btn-primary">Unenroll</button>
    </li>
  </ul>
  </div>

  <div>
    <a routerLink="/home">Home</a>
  </div>
  <button (click)="logout()">Logout</button>



</div>
